<div class="row">
    <!-- If user has account -->
    <form class="col s12" ng-if="home.isLogginSpace" ng-submit="home.connect(user)"  autocomplete="on">
        <fieldset>

            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="usernamelog">Username</label>
                    <input id="usernamelog"  ng-model="user.username" type="text" class="validate">
                </div>
            </div>
            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="password">Password</label>
                    <input id="password" ng-model="user.password" type="password" class="validate">
                </div>
            </div>
        </fieldset>

        <div class="row logForm">
            <button class="btn waves-effect waves-light" type="submit">Connect
            </button>
            <p class="logForm">If you don't have an account yet, <a href="#!/home" ng-click="home.switchToInscription()">click here</a></p>
        </div>
    </form>

    <!-- If user does not have account -->
    <form class="col s12" ng-if="home.isLogginSpace === false" ng-submit="home.create(u)"  autocomplete="on">
        <div class="row logForm">
            <h3>Create new account</h3>
            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="usernameCreate">Username</label>
                    <input id="usernameCreate" ng-model="u.username" type="text" class="validate" ng-required="true">
                </div>
            </div>
            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="displayName">Display name</label>
                    <input id="displayName" type="text" ng-model="u.displayName" class="validate">
                </div>
            </div>
            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="mail">Email</label>
                    <input id="mail" type="text" ng-model="u.email" class="validate" ng-required="true">
                </div>
            </div>
            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="pass">Password</label>
                    <input id="pass" type="password" ng-model="u.password" class="validate" ng-required="true">
                </div>
            </div>
            <div class="row logForm">
                <button class="btn waves-effect waves-light" type="submit" name="action">Create
                </button>
            </div>
        </div>
    </form>

    <!-- If user is logged -->
    <h2>Profile</h2>
    
</div>
