<div class="row">
    <!-- If user has account -->
    <form class="col s12" ng-if="home.isLogginSpace && home.isLogged === false" ng-submit="home.connect(user)"  autocomplete="on">
        <fieldset>

            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="usernamelog">Username</label>
                    <input id="usernamelog"  ng-model="user.username" type="text" class="validate">
                </div>
            </div>
            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="password">Password</label>
                    <input id="password" ng-model="user.password" type="password" class="validate">
                </div>
            </div>
        </fieldset>

        <div class="row logForm">
            <button class="btn waves-effect waves-light" type="submit">Connect
            </button>
            <p class="logForm">If you don't have an account yet, <a href="#!/home" ng-click="home.switchToInscription()">click here</a></p>
        </div>
    </form>

    <!-- If user does not have account -->
    <form class="col s12" ng-if="home.isLogginSpace === false && home.isLogged === false" ng-submit="home.create(u)"  autocomplete="on">
        <div class="row logForm">
            <h3>Create new account</h3>
            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="usernameCreate">Username</label>
                    <input id="usernameCreate" ng-model="u.username" type="text" class="validate" ng-required="true">
                </div>
            </div>
            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="displayName">Display name</label>
                    <input id="displayName" type="text" ng-model="u.displayName" class="validate">
                </div>
            </div>
            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="mail">Email</label>
                    <input id="mail" type="text" ng-model="u.email" class="validate" ng-required="true">
                </div>
            </div>
            <div class="row logForm">
                <div class="input-field col s4 offset-s4">
                    <label for="pass">Password</label>
                    <input id="pass" type="password" ng-model="u.password" class="validate" ng-required="true">
                </div>
            </div>
            <div class="row logForm">
                <button class="btn waves-effect waves-light" type="submit" name="action">Create
                </button>
            </div>
        </div>
    </form>

    <!-- If user is logged @todo ajouter la condition de vérification si loggé-->
    <div ng-if="home.isLogged">
        <h2>Profile</h2>
        <div class="col s4">
            <div class="row">
                <label>Display Name</label> {{ home.currentUser.displayName }}
            </div>
            <div class="row">
                <label>Username</label> {{ home.currentUser.username }}
            </div>
            <div class="row">
                <label>Email</label> {{ home.currentUser.email }}
            </div>
            <div class="row">
            </div>
            <button class="btn modal-trigger" data-target="modal1"><i class="fa fa-pencil" aria-hidden="true"></i>
                Edit
            </button>
        </div>
        <div class="col s4">
            <label>My scooters</label>
            <div ng-repeat="scooter in home.currentUser.scooters"></div>
        </div>
    </div>
</div>



<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer modalUser">
    <div class="modal-content">
        <h2>Edit profile</h2>
        <div class="row">
            <div class="input-field">
                <label for="username">Username</label>
                <input id="username" class="inputModal" ng-model="home.currentUserCopy.username" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="display">Display Name</label>
                <input id="display" class="inputModal" ng-model="home.currentUserCopy.displayName" type="email" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="email">Email</label>
                <input id="email" class="inputModal" ng-model="home.currentUserCopy.email" type="email" class="validate">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn modal-close" ng-click="home.updateUser()">Save</button>
<!--
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Save</a>
-->
        <a href="#!/home" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
</div>
