/* app css stylesheet */

body{
    background-color: #c5c5c5;
}

.container{
    margin-right: auto;
    margin-left: auto;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

nav .nav-wrapper{
    background-color: black;
}

.card{
    text-align: center;
}
.datas{
    color: #37db27 !important;
}

.logo{
    height: 60%;
}

.card-action{
    text-align: -webkit-right;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
    margin-right: 0;

}

i{
    cursor: pointer;
}

.i.small{
    font-size: 2.5rem;
}

.logForm{
    text-align: center;
}

.modalUser{
    text-align: center;
}

.inputModal{
    width: 60% !important;
}

.labelModal{
    margin-top: 2em;
}

.showInfo{
    text-align: center;
}

.userInfo{
    display: inline-block;
    margin-left: 1em;
}

.cardProfile{
    margin: 0;
}

.collection.with-header .collection-header{
    background-color: #37474f;
    color: #9e9e9e;
}

.collection.with-header .collection-item{
    background-color: #37474f;
    color: white;
}

.refreshBtn{
    padding: 0 !important;
}